$--color-white: #fff;
$--color-hover-white:#f0f0f0;
$--color-black: #000;

// border
$--common-border-1: #DCDFE6;
$--common-border-2: #E4E7ED;
$--common-border-3: #EBEEF5;
$--common-border-4: #F2F6FC;

$--common-border-5: #EAEAEA;

// blue
$--blue-color: #0080cb;
$--blue-menu-hover-color: #248dca;
$--blue-menu-bg-color: #edf6ff;
//ink
$--ink-color: #00a597;
$--ink-menu-hover-color: #00a597;
$--ink-menu-bg-color: #edf6ff;
//red
$--red-color:#f56c6c;
$--red-menu-hover-color: #f56c6c;
$--red-menu-bg-color: #edf6ff;

//grey
$--grey-color: #909399;
$--grey-menu-hover-color: #909399;
$--grey-menu-bg-color: #edf6ff;
//green
$--green-color: #67c23a;
$--green-menu-hover-color: #67c23a;
$--green-menu-bg-color: #edf6ff;




$--success-color: #67c23a;
$--warning-color: #f7b14c;
$--danger-color: #f97171;
$--info--color: #94a6bb;
