
.navbar {
  background: $--blue-color;
}
.router-link-active {
  background: $--blue-menu-bg-color;
}
.router-link-active span {
  color: $--blue-color;
}

.mainMenu{
  .el-tabs--border-card .el-tabs__header .el-tabs__item.is-active{
    background: $--blue-menu-hover-color;
  }      
}

//修改ele部分配色
.el-dialog__header{
  background:$--blue-color;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color:$--color-white;
  .el-dialog__title{
    color:$--color-white;
  }
  .el-dialog__close{
    color:$--color-white;
  }
}

button.el-dialog__headerbtn:focus .el-dialog__close,
button.el-dialog__headerbtn:hover .el-dialog__close {
  color: $--color-hover-white;
}

.el-dialog{
  border-radius: 10px;
}



