.el-form {
  margin: 30px 30px 0 0;

}
.el-row {
  height: 100%;
}
.detail-button-box{
  width: auto;
  text-align: center;
  background: #F5F7FA;
  padding: 10px 0;
  position: fixed;
  bottom: 33px;
  right: 11px;
  left: 200px;
  z-index: 99
}
.detail-button-box .el-form-item{
  margin-bottom: 0 !important;
}
