  .el-form-item {
    margin-bottom: 10px;
  }
  .el-select {
    width: 100px;
  }
 .el-form-item__content .el-input {
    width: 120px;
  }
  .el-date-editor .el-range-separator{
    width: 100%;
    line-height: 20px !important;
  }